* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-ExtraLight.woff2') format('woff2') url('fonts/Manrope-ExtraLight.woff') format('woff');
    font-weight: 1;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-ExtraLight.woff2') format('woff2') url('fonts/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Light.woff2') format('woff2') url('fonts/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Regular.woff2') format('woff2') url('fonts/Manrope-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Medium.woff2') format('woff2') url('fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-SemiBold.woff2') format('woff2') url('fonts/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Bold.woff2') format('woff2') url('fonts/Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-ExtraBold.woff2') format('woff2') url('fonts/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Mono One';
    src: local('Rubik Mono One Regular'), local('RubikMonoOne-Regular'), url('fonts/rubikmonooneregular.woff2') format('woff2'), url('fonts/rubikmonooneregular.woff') format('woff'), url('fonts/rubikmonooneregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gunny Rewritten';
    src: local('Gunny Rewritten'), local('GunnyRewritten'), url('fonts/gunnyrewritten.woff2') format('woff2'), url('fonts/gunnyrewritten.woff') format('woff'), url('fonts/gunnyrewritten.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: local('Gagalin'), local('Gagalin-Regular'), url('fonts/Gagalin.woff2') format('woff2'), url('fonts/Gagalin.woff') format('woff'), url('fonts/Gagalin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Mono';
    src: local('PT Mono'), local('PTMono-Regular'), url('fonts/ptmono.woff2') format('woff2'), url('fonts/ptmono.woff') format('woff'), url('fonts/ptmono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.15);
    background-image: url(images/1674277452_catherineasquithgallery-com-p-serii-fon-avtoservis-foto-27.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100vw;
    min-width: 320px;
    min-height: 1000px;
}

h1 {
    font-size: 1.5rem;
    color: rgb(28, 27, 21);
    letter-spacing: 0.15rem;
    font-weight: 800;
    font-family: PT Mono;
    text-transform: uppercase;
}

h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: PT Mono;
    font-weight: 800;

}

.navigation {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 7vh;
    width: 100%;
    backdrop-filter: blur(4px);
}

.nav-glass {
    display: flex;
    position: relative;
    height: 7vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
    box-shadow: 0px 1px 2rem rgba(0, 0, 0, 0.481);
}

.nav-block {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-block li {
    display: flex;
}

nav ul li ul.nav-block-2 {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    position:fixed;
    top: 80%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s, top 0.3s ease-in-out 0s;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.767);
    box-shadow: 0px 1px 2rem rgba(0, 0, 0, 0.481);
}

nav ul li:hover>ul.nav-block-2 {
    opacity: 1;
    top: 100%;
}

.nav-block-title {
    display: flex;
    flex-grow: 7;
    justify-content: center;
    color: rgba(0, 0, 0, 0.857);
}

.nav-block-button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgba(0, 0, 0, 0.857);
    user-select: none;
    background-color: none;
    transition: 0.4s;
    background-color: aqua;
}

.nav-block-button-text {
    transition: 0.4s;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-family: PT Mono;
    font-size: 1rem;
}

.nav-block-button-separator {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-block-button-separator h2 {
    display: flex;
    user-select: none;
    font-family: Manrope;
    font-size: 1.8rem;
}

.nav-block-button:hover {
    background-color: rgba(159, 159, 159, 0.4);
}

.nav-block-etc:hover {
    background-color: rgba(159, 159, 159, 0.4);
}

.nav-block-etc {
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    transition: 0.4s;
}

.nav-block-etc-text {
    font-size: 2rem;
    user-select: none;
    transition: 0.4s;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    min-height: 54%;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 7vh;
}

.container-box {
    display: flex;
    width: 18vw;
    height: 18vw;
    flex-direction: column;
    user-select: none;
    border: 2px solid black;
    box-shadow: 0.1rem 0.1rem 5.05rem rgb(50, 89, 168);
    transition: 0.2s;
    margin: 8vh 2vw;
}

.container-box:hover {
    transform: scale(1.1);
}

.glass {
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0px 32px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0.1rem 0.1rem 0.03rem rgba(0, 0, 0, 0.411);
}

.container-box-img {
    max-height: 40%;
    margin: 10% auto;
}

.container-box-fill {
    display: flex;
    flex-grow: 15555;
    align-items: center;
    justify-content: center;
    padding: 0 1.1rem;
    font-family: Manrope;
    font-weight: 800;
    text-align: center;
}

.footer-wrap {
    display: block;
    width: 100%;
    margin-top: auto;
}

.footer {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px -5px 2rem rgba(0, 0, 0, 0.641);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

}

.author {
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.4rem;
    display: block;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 960px) {
    html {
        font-size: 0.8rem;
    }

    .navigation {
        position: fixed;
    }

    li.nav-block-title {
        display: none;
    }

    li.nav-block-button:nth-child(6) {
        display: none;
    }

    li.nav-block-button-separator:nth-child(7) {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .container-box {
        margin: 4vh 10vw;
        width: 30vw;
        height: 30vw;
    }

    .navigation {
        position: fixed;
    }
}